.link {
  text-decoration: none;
  color: rgb(21, 13, 63);
  font-size: large;
  opacity:1;
}

.link:hover {
  /*opacity:0.5;*/
  animation-name: springy-text;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

li {
  list-style: none;
}

.grid-item {
  padding: 10px;
  color: rgb(21, 13, 63);
  font-size: 2.4em;
  text-align: center;
  font-family: monospace;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid whitesmoke;
  background-color: thistle;
}

.banner {
  grid-area: banner;
  width: 100%;
  height: 100px;
}

.about {
  grid-area: about;
  background-color: thistle;
  border-radius: 5px;
  margin:  20px;
  border-bottom: 5px solid whitesmoke;
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

h1 {
  font-size: 16pt;
  margin: 0px 20px 0px 20px;
  text-align: left;
}

b{
  font-size: 2em;
}

.previous {
  grid-area: previous;
}

.proj1 {
  grid-area: proj1;
}

.proj2 {
  grid-area: proj2;
}

.contact {
  grid-area: contact;
}


@media screen and (min-width: 414px) and (max-width: 767px) {
  .grid-container {
    display: grid;
    height: 540px;
    grid-template-columns: 90%;
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    font-size: small;
    grid-template-areas: 
      'navbar navbar'
      'intro  intro'
      'about about'
      'previous previous'
      'previous previous'
      'proj1  proj1'
      'proj2  proj2'
      'contact  contact';
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    height: 540px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12,100px);
    gap: 10px;
    font-size: small;
    grid-template-areas: 
      'banner banner'
      'about  about'
      'about  about'
      'previous previous'
      'previous previous'
      'previous previous'
      'proj1  proj2'
      'proj1  proj2'
      'proj1  proj2'
      'contact contact'
      'contact contact'
      'contact contact';
  }
}

@keyframes colorChange {
  0%    { border-bottom: 5px solid whitesmoke; }
  20%   { border-bottom: 5px solid thistle }
  60%   { border-bottom: 5px solid rebeccapurple }
  100%  { border-bottom: 5px solid whitesmoke; } 
}

@keyframes springy-text {
  0%   {
    letter-spacing: 0.4em;
    color: white;
    }
  100%   {
    letter-spacing: 0.1em;
    color: lime;
    }
  }