/*:root {
  --indigo: #1773FF;
  --light-grey: #f9f9f9;
}*/

a {
  text-decoration: none;
  font-size: large;
  color: rgb(21, 13, 63);
}


.link:hover {
  animation-name: springy-text;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

li {
  list-style: none;
}

.grid-item {
  padding: 10px;
  color: rgb(21, 13, 63);
  text-align: center;
  font-family: monospace;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid whitesmoke;
  background-color: lightblue;
}

.about1 {
  grid-area: about1;
  margin:  20px;
  text-align: center;
}

.about2 {
  grid-area: about2;
  margin:  20px;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 15pt;
  margin: 20px;
  text-align: left;
  /*border: 5px solid whitesmoke;*/
}

/*h1:hover {
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}*/

b{
  font-size: 2em;
}

.previous {
  grid-area: previous;
  margin: 20px 20px 20px 10px;
}

/*.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  color: black;
}*/

.one {
  animation: fadeIn 1s infinite alternate;
}

.two {
  animation: fadeIn 2s infinite alternate;
}

h2 {
  font-size: medium;
  /*text-align: center;
  margin-bottom: 40px;*/
}

.proj1 {
  grid-area: proj1;
}

.card1, .card2 {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 20px;
}

.desc1 {
  margin-left: 20px;
}

.desc2 {
  margin-right: 20px;
}

h3, h4 {
  font-size: 15pt;
}

.fa {
  color: rgba(18, 194, 135, 0.788);
}


.proj2 {
  grid-area: proj2;
}

.contact {
  grid-area: contact;
  border-top: 5px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 20px;
  font-size: 15pt;
  color: rebeccapurple;
}

h5 {
  float: left;
}

label{
  float: left;
}

.btn {
  border-color: violet;
  background-color: thistle;
  color: black;
}

.footer{
  grid-area: footer;
  width: 100%;
  height: 5rem;
  text-align: left;
  color: whitesmoke;
  margin: 0px 20px 0px 20px;
}




@media screen and (min-width: 414px) and (max-width: 767px) {
  .grid-container {
    display: grid;
    height: 540px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 150px);
    gap: 10px;
    font-size: small;
    grid-template-areas: 
      'about1 about1'
      'about2 about2'
      'previous previous'
      'previous previous'
      'previous previous'
      'proj1  proj1'
      'prog1  prog1'
      'prog1  prog1'
      'proj2  proj2'
      'proj2  proj2'
      'proj2  proj2'
      'space  space'
      'contact  contact'
      'contact  contact'
      'contact  contact'
      'footer footer';
  }
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 12pt;
  }

  h1 b {
    font-size: 1.4em;
  }

  a {
    font-size: medium;
  }

  .about2 {
    padding: 0;
  }

  li {
    padding: 10px;
  }

  .card1 {
    margin: 0px 0px 20px 0px;
  }

  .desc1 {
    margin-bottom: 20px;
  }
  .desc2 {
    margin-top: 20px;
  }

  h3, h4 {
    font-size: 11;
  }

  .courses, .contact {
    padding: 10px 0px 10px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 880px) {
  .grid-container {
    display: grid;
    height: 540px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12,150px);
    gap: 10px;
    font-size: small;
    grid-template-areas: 
      'about1  about2'
      'about1  about2'
      'previous previous'
      'previous previous'
      'proj1  proj2'
      'proj1  proj2'
      'proj1  proj2'
      'space  space'
      'contact contact'
      'contact contact'
      'contact contact'
      'footer footer';
  }
  h1 {
    font-size: 14pt;
  }

  h1 b {
    font-size: 1.7em;
  }

  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    color: black;
  }

  .one, .two {
    animation: none;
  }
}

@media screen and (min-width: 881px) {
  .grid-container {
    display: grid;
    height: 540px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12,150px);
    gap: 10px;
    font-size: small;
    grid-template-areas: 
      'about1  about2'
      'about1  about2'
      'previous previous'
      'previous previous'
      'proj1  proj2'
      'proj1  proj2'
      'proj1  proj2'
      'space  space'
      'contact contact'
      'contact contact'
      'contact  contact'
      'footer footer';
  }

  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    color: black;
  }
}

@keyframes colorChange {
  0%    { border: 5px solid whitesmoke; }
  20%   { border: 5px solid thistle }
  60%   { border: 5px solid rebeccapurple }
  100%  { border: 5px solid whitesmoke; } 
}

@keyframes springy-text {
  0%   {
    letter-spacing: 0.4em;
    color: white;
    }
  100%   {
    letter-spacing: 0.1em;
    color: lime;
    }
  }

  @keyframes fadeIn { 
    from { opacity: 0; } 
  }
